#still-ball{
    display: flex;
    flex-wrap:nowrap;
    margin: 0 auto;
    justify-content: center;
    margin-top: 350px;
}

/* #rolling-ball{
        display: flex;
        flex-wrap:wrap;
        margin-bottom: 125px;
        justify-content: flex-start;
        display: none;
    } */

    body{
        max-height: 800px;
        background-image: url('pics/grassfield1.webp');
    }

    #goal{
        display: flex;
        margin-bottom: 500px;
        position: relative;
    }

    #scoreCount{
        font-size: larger;
        color: white;
    }
   

    .soccerField{
        margin-left: 420px;
    }

    #score {
        position: fixed;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        font-size: 20px;  
        color: white;  
        font-family: Snell Roundhand, cursive;
    }


